
.animation-paused .solar-system__orbit,
.animation-paused .solar-system__planet,
.animation-paused .planet__satellite,
.animation-paused .planet__satellite::before,
.animation-paused .planet__satellite--double::after,
.animation-paused .satellite__img{
    animation-play-state: paused;
}

.modal--info .modal__planet,
.universe__star,
.solar-system__sun,
.solar-system__orbit,
.solar-system__planet,
.solar-system__planet--rings::before,
.planet__satellite,
.planet__satellite::before,
.planet__satellite--double::after,
.satellite__img{
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.modal--info .modal__planet{
    animation-name: rotation;
}

.solar-system__orbit{
    animation-name: movement-orbit;
}

.planet__satellite{
    animation-name: movement-revolution;
}

.planet__satellite,
.planet__satellite::before,
.planet__satellite--double::after{
    animation-duration: var(--time-revolution-default);
}

.planet__satellite::before,
.planet__satellite--double::after{
    animation-name: movement-revolution-satellite-default;
}

.satellite__img:nth-child(1),
.satellite__img:nth-child(4){
    animation-name: movement-revolution-satellite-image-type1, movement-orbit-satellite-image;
}

.satellite__img:nth-child(2),
.satellite__img:nth-child(5){
    animation-name: movement-revolution-satellite-image-type2, movement-orbit-satellite-image;
}

.satellite__img:nth-child(3){
    animation-name: movement-revolution-satellite-image-type3, movement-orbit-satellite-image;
}

/* ------- star animation settings ------- */

.universe__star{
    animation-name: shine-star;
    animation-duration: .1s;
    animation-direction: alternate;
}

.solar-system__sun{
    animation-name: shine-sun, rotation;
    animation-duration: 1s, 27s;
    animation-direction: alternate, normal;
}

/* ------- mercury animation settings ------- */

.solar-system__orbit--mercury{
    animation-duration: var(--time-orbit-mercury);
}

.solar-system__planet--mercury{
    animation-name: rotation, movement-orbit-mercury, shadow-small;
    animation-duration: var(--time-rotation-mercury), var(--time-orbit-mercury), var(--time-orbit-mercury);
}

/* ------- venus animation settings ------- */

.solar-system__orbit--venus{
    animation-duration: var(--time-orbit-venus);
}

.solar-system__planet--venus{
    animation-name: rotation, movement-orbit-venus, shadow-venus;
    animation-duration: var(--time-rotation-venus), var(--time-orbit-venus), var(--time-orbit-venus);
}

/* ------- earth animation settings ------- */

.solar-system__orbit--earth{
    animation-duration: var(--time-orbit-earth);
}

.solar-system__planet--earth{
    animation-name: rotation, movement-orbit-earth, shadow-small;
    animation-duration: var(--time-rotation-earth), var(--time-orbit-earth), var(--time-orbit-earth);
}

.planet__satellite--earth{
    animation-duration: var(--time-rotation-moon);
}

.planet__satellite--earth::before{
    animation-name: rotation, movement-revolution-satellite-earth, shadow-small;
    animation-duration: var(--time-rotation-moon), var(--time-rotation-moon), var(--time-orbit-earth);
}

/* ------- mars animation settings ------- */

.solar-system__orbit--mars{
    animation-duration: var(--time-orbit-mars);
}

.solar-system__planet--mars{
    animation-name: rotation, movement-orbit-mars, shadow-small;
    animation-duration: var(--time-rotation-mars), var(--time-orbit-mars), var(--time-orbit-mars);
}

/* ------- jupiter animation settings ------- */

.solar-system__orbit--jupiter{
    animation-duration: var(--time-orbit-jupiter);
}

.solar-system__planet--jupiter{
    animation-name: rotation, movement-orbit-jupiter, shadow-big;
    animation-duration: var(--time-rotation-jupiter), var(--time-orbit-jupiter), var(--time-orbit-jupiter);
}

.satellite__img--jupiter{
    animation-duration: var(--time-revolution-default), var(--time-orbit-jupiter);
}

/* ------- saturn animation settings ------- */

.solar-system__orbit--saturn{
    animation-duration: var(--time-orbit-saturn);
}

.solar-system__planet--saturn{
    animation-name: rotation, movement-orbit-saturn, shadow-big;
    animation-duration: var(--time-rotation-saturn), var(--time-orbit-saturn), var(--time-orbit-saturn);
}

.satellite__img--saturn{
    animation-duration: var(--time-revolution-default), var(--time-orbit-saturn);
}

/* ------- uranus animation settings ------- */

.solar-system__orbit--uranus{
    animation-duration: var(--time-orbit-uranus);
}

.solar-system__planet--uranus{
    animation-name: rotation, movement-orbit-uranus, shadow-uranus;
    animation-duration: var(--time-rotation-uranus), var(--time-orbit-uranus), var(--time-orbit-uranus);
}

.satellite__img--uranus{
    animation-duration: var(--time-revolution-default), var(--time-orbit-uranus);
}

/* ------- neptune animation settings ------- */

.solar-system__orbit--neptune{
    animation-duration: var(--time-orbit-neptune);
}

.solar-system__planet--neptune{
    animation-name: rotation, movement-orbit-neptune, shadow-big;
    animation-duration: var(--time-rotation-neptune), var(--time-orbit-neptune), var(--time-orbit-neptune);
}

.satellite__img--neptune{
    animation-duration: var(--time-revolution-default), var(--time-orbit-neptune);
}

/* ------- animations ------- */

@keyframes shine-sun{
    from {
        box-shadow: inset 0 0 0.8rem 0.4rem var(--color-yellow-01),
            0 0 0.8rem 0.8rem var(--color-yellow-02),
            0 0 5rem 3.3rem var(--color-yellow-03),
            0 0 6.7rem 5.8rem var(--color-yellow-04);
    } to {
        box-shadow: inset 0 0 4.2rem 0.4rem var(--color-yellow-01),
            0 0 1.7rem 1.7rem var(--color-yellow-02),
            0 0 5.8rem 4.2rem var(--color-yellow-03),
            0 0 7.5rem 5.8rem var(--color-yellow-04);
    }
}

@keyframes shine-star{
    from {
        box-shadow: 0 0 .1rem .1rem var(--color-white-01),
            0 0 .1rem .1rem var(--color-white-02);
    } to {
        box-shadow: 0 0 .15rem .15rem var(--color-white-01),
            0 0 .3rem .2rem var(--color-white-02);
    }
}

@keyframes rotation {
    from {
        background-position: right top;
    } to {
        background-position: left top;
    }
}

@keyframes movement-orbit{
    from {
        transform: translate(-50%, -50%)
            rotateZ(0);
    } to {
        transform: translate(-50%, -50%)
            rotateZ(-360deg);
    }
}

@keyframes movement-orbit-mercury{
    from {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(0deg)
            rotateZ(var(--tilt-mercury));
    } to {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(-360deg)
            rotateZ(var(--tilt-mercury));
    }
}

@keyframes movement-orbit-venus{
    from {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(0deg)
            rotateZ(var(--tilt-venus));
    } to {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(-360deg)
            rotateZ(var(--tilt-venus));
    }
}

@keyframes movement-orbit-earth{
    from {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(0deg)
            rotateZ(var(--tilt-earth));
    } to {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(-360deg)
            rotateZ(var(--tilt-earth));
    }
}

@keyframes movement-orbit-mars{
    from {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(0deg)
            rotateZ(var(--tilt-mars));
    } to {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(-360deg)
            rotateZ(var(--tilt-mars));
    }
}

@keyframes movement-orbit-jupiter{
    from {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(0deg)
            rotateZ(var(--tilt-jupiter));
    } to {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(-360deg)
            rotateZ(var(--tilt-jupiter));
    }
}

@keyframes movement-orbit-saturn{
    from {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(0deg)
            rotateZ(var(--tilt-saturn));
    } to {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(-360deg)
            rotateZ(var(--tilt-saturn));
    }
}

@keyframes movement-orbit-uranus{
    from {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(0deg)
            rotateZ(var(--tilt-uranus));
    } to {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(-360deg)
            rotateZ(var(--tilt-uranus));
    }
}

@keyframes movement-orbit-neptune{
    from {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(0deg)
            rotateZ(var(--tilt-neptune));
    } to {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(-360deg)
            rotateZ(var(--tilt-neptune));
    }
}

@keyframes movement-orbit-satellite-image{
    0% {
        width: 100%;
    } 25% {
        width: 50%;
    } 50% {
        width: 100%;
    } 75% {
        width: 150%;
    } 100% {
        width: 100%;
    }
}

@keyframes movement-revolution{
    from {
        transform: translate(-50%, -50%) rotateX(var(--angle-system))
            rotateZ(0);
    } to {
        transform: translate(-50%, -50%) rotateX(var(--angle-system))
            rotateZ(-360deg);
    }
}

@keyframes movement-revolution-satellite-default{
    from {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(0deg);
    } to {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(-360deg);
    }
}

@keyframes movement-revolution-satellite-earth{
    from {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(0deg)
            rotateZ(var(--tilt-moon));
    } to {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(-360deg)
            rotateZ(var(--tilt-moon));
    }
}

@keyframes movement-revolution-satellite-image-type1{
    from {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(0deg)
            scale3d(.16, .16, .16);
    } to {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(-360deg)
            scale3d(.16, .16, .16);
    }
}

@keyframes movement-revolution-satellite-image-type2{
    from {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(0deg)
            scale3d(.1, .1, .1);
    } to {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(-360deg)
            scale3d(.1, .1, .1);
    }
}

@keyframes movement-revolution-satellite-image-type3{
    from {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(0deg)
            scale3d(.08, .08, .08);
    } to {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(-360deg)
            scale3d(.08, .08, .08);
    }
}

@keyframes shadow-small{
    0% {
        box-shadow: inset -0.2rem 0 .25rem .01rem var(--color-black-02),
            inset .2rem 0 .25rem .01rem var(--color-white-02);
    } 25% {
        box-shadow: inset 0 0 0 .01rem var(--color-black-02),
            inset 0 0 2rem .01rem var(--color-white-02);
    } 50% {
        box-shadow: inset .2rem 0 .25rem .01rem var(--color-black-02),
            inset -0.2rem 0 .25rem .01rem var(--color-white-02);
    } 75% {
        box-shadow: inset 0 0 2rem .01rem var(--color-black-02),
            inset 0 0 0 .01rem var(--color-white-02);
    } 100% {
        box-shadow: inset -0.2rem 0 .25rem .01rem var(--color-black-02),
            inset .2rem 0 .25rem .01rem var(--color-white-02);
    }
}

@keyframes shadow-big{
    0% {
        box-shadow: inset -1rem 0 1.25rem .05rem var(--color-black-02),
            inset 1rem 0 1.25rem .05rem var(--color-white-02);
    } 25% {
        box-shadow: inset 0 0 0 .05rem var(--color-black-02),
            inset 0 0 10rem .05rem var(--color-white-02);
    } 50% {
        box-shadow: inset 1rem 0 1.25rem .05rem var(--color-black-02),
            inset -1rem 0 1.25rem .05rem var(--color-white-02);
    } 75% {
        box-shadow: inset 0 0 10rem .05rem var(--color-black-02),
            inset 0 0 0 .05rem var(--color-white-02);
    } 100% {
        box-shadow: inset -1rem 0 1.25rem .05rem var(--color-black-02),
            inset 1rem 0 1.25rem .05rem var(--color-white-02);
    }
}

@keyframes shadow-venus{
    0% {
        box-shadow: inset .2rem 0 .25rem .01rem var(--color-black-02),
            inset -0.2rem 0 .25rem .01rem var(--color-white-02);
    } 25% {
        box-shadow: inset 0 0 0 .01rem var(--color-black-02),
            inset 0 0 2rem .01rem var(--color-white-02);
    } 50% {
        box-shadow: inset -0.2rem 0 .25rem .01rem var(--color-black-02),
            inset .2rem 0 .25rem .01rem var(--color-white-02);
    } 75% {
        box-shadow: inset 0 0 2rem .01rem var(--color-black-02),
            inset 0 0 0 .01rem var(--color-white-02);
    } 100% {
        box-shadow: inset .2rem 0 .25rem .01rem var(--color-black-02),
            inset -0.2rem 0 .25rem .01rem var(--color-white-02);
    }
}

@keyframes shadow-uranus{
    0% {
        box-shadow: inset 0 .4rem .5rem .02rem var(--color-black-02),
            inset 0 -0.2rem .5rem .02rem var(--color-white-02);
    } 25% {
        box-shadow: inset 0 0 0 .02rem var(--color-black-02),
            inset 0 0 4rem .02rem var(--color-white-02);
    } 50% {
        box-shadow: inset 0 -0.4rem .5rem .02rem var(--color-black-02),
            inset 0 .2rem .5rem .02rem var(--color-white-02);
    } 75% {
        box-shadow: inset 0 0 4rem .02rem var(--color-black-02),
            inset 0 0 0 .02rem var(--color-white-02);
    } 100% {
        box-shadow: inset 0 .4rem .5rem .02rem var(--color-black-02),
            inset 0 -0.2rem .5rem .02rem var(--color-white-02);
    }
}
