@import url("./reset.css");

*{
    transition: .4s;
}

body{
    width: 100vw;
    height: 100vh;

    background-color: var(--color-black-01);
    color: var(--color-white-01);
}

.header{
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.header__title{
    width: max-content;
    margin: 2.5rem auto 0;

    text-align: center;
    letter-spacing: .2rem;
    font-size: 5rem;
    font-weight: 600;
    font-variant: small-caps;
}

.header__title:hover{
    color: var(--color-yellow-02);
    cursor: pointer;
}

.icon{
    font-size: 2rem;
    color: var(--color-white-02);
}

.icon:hover{
    color: var(--color-white-01);
    cursor: pointer;
}

/* ------- space general settings ------- */

.universe{
    width: 100%;
    height: 100%;
    min-width: 576px;
    min-height: 320px;

    background: var(--color-black-01) var(--url-image-space);
    background-size: cover;
    background-repeat: no-repeat;

    overflow: hidden;
    perspective: 500px;
}

@media only screen and (min-width: 720px){
    .universe{
        min-height: 400px;
    }
}

@media only screen and (min-width: 980px){
    .universe{
        min-height: 460px;
    }
}

@media only screen and (min-width: 1380px){
    .universe{
        min-height: 600px;
    }
}

.universe__solar-system{
    width: 100%;
    height: 100%;

    position: relative;
    transform: rotateX(var(--angle-system))
        translate3d(0, var(--distance-system-y), var(--distance-system-z));
}

.solar-system__orbit:hover{
    border-color: var(--color-white-01);
    border-style: solid;
    cursor: pointer;
}

.solar-system__orbit:hover .solar-system__planet{
    border: 1px solid var(--color-white-01);
}

.planet__satellite::before{
    position: absolute;
    top: 100%;
    left: 50%;
}

.satellite__img:nth-child(1){
    top: 30%;
    left: 7%;
}

.satellite__img:nth-child(2){
    top: 50%;
    left: 5%;
}

.satellite__img:nth-child(3){
    top: 94%;
    left: 30%;
}

.satellite__img:nth-child(4){
    top: 95%;
    left: 70%;
}

.satellite__img:nth-child(5){
    top: 70%;
    left: 95%;
}

.universe__star,
.solar-system__sun,
.solar-system__orbit,
.solar-system__planet,
.planet__satellite,
.planet__satellite::before,
.planet__satellite--double::after{
    width: var(--size-celestial);
    height: var(--size-celestial);
}

.universe__star,
.satellite__img{
    position: absolute;
}

.planet__satellite::before,
.planet__satellite--double::after{
    background-color: var(--color-satellite-default);
}

.solar-system__orbit,
.planet__satellite{
    border: .01rem dashed var(--color-white-02);
}

.solar-system__planet,
.planet__satellite--double::after{
    position: absolute;
    top: 50%;
    left: 100%;
}

.modal__box::before,
.modal__box::after,
.modal__planet--rings::before,
.solar-system__planet--rings::before,
.planet__satellite::before,
.planet__satellite--double::after{
    content: "";
}

.modal__planet,
.modal__planet--rings::before,
.universe__solar-system,
.solar-system__sun,
.universe__star,
.solar-system__orbit,
.solar-system__planet,
.solar-system__planet--rings::before,
.planet__satellite,
.planet__satellite::before,
.planet__satellite--double::after{
    transform-style: preserve-3d;
}

.modal__planet,
.modal__planet--rings::before,
.universe__star,
.solar-system__sun,
.solar-system__orbit,
.solar-system__planet,
.solar-system__planet--rings::before,
.planet__satellite,
.planet__satellite::before,
.planet__satellite--double::after{
    border-radius: 50%;
}

.modal__planet--rings::before,
.solar-system__sun,
.solar-system__orbit,
.solar-system__planet--rings::before,
.planet__satellite{
    position: absolute;
    top: 50%;
    left: 50%;
}

/* ------- stars settings ------- */

.solar-system__sun{
    --size-celestial: var(--size-sun);
    z-index: 10;

    transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted));
    animation: shine-sun 1s linear infinite alternate,
        rotation 27s linear infinite;

    border: 1px solid var(--color-yellow-02);
    background: var(--color-sun) var(--url-image-sun);
}

.solar-system__sun:hover{
    border-color: var(--color-yellow-04);
    cursor: pointer;
}

.universe__star{
    --size-celestial: var(--size-star);

    animation: shine-star .1s linear infinite alternate;

    background-color: var(--color-white-01);
}

.universe__star:nth-child(2){
    left: 25%;
    bottom: 10%;
}

.universe__star:nth-child(3){
    top: 40%;
    left: 25%;
}

.universe__star:nth-child(4){
    top: 30%;
    right: 25%;
}

.universe__star:nth-child(5){
    bottom: 30%;
    right: 10%;
}

.universe__star:nth-child(6){
    top: 10%;
    left: 5%;
}

/* ------------------ mercury settings ------------------ */

.solar-system__orbit--mercury{
    --size-celestial: var(--size-orbit-mercury);
    z-index: 9;

    animation-duration: var(--time-orbit-mercury);
}

.solar-system__planet--mercury{
    --size-celestial: var(--size-planet-mercury);

    animation-name: rotation, movement-orbit-mercury, shadow-small;
    animation-duration: var(--time-rotation-mercury), var(--time-orbit-mercury), var(--time-orbit-mercury);

    background: var(--color-mercury) var(--url-image-mercury);
}

/* ------- venus settings ------- */

.solar-system__orbit--venus{
    --size-celestial: var(--size-orbit-venus);
    z-index: 8;

    animation-duration: var(--time-orbit-venus);
}

.solar-system__planet--venus{
    --size-celestial: var(--size-planet-venus);

    animation-name: rotation, movement-orbit-venus, shadow-venus;
    animation-duration: var(--time-rotation-venus), var(--time-orbit-venus), var(--time-orbit-venus);

    background: var(--color-venus) var(--url-image-venus);
}

/* ------- earth settings ------- */

.solar-system__orbit--earth{
    --size-celestial: var(--size-orbit-earth);
    z-index: 7;

    animation-duration: var(--time-orbit-earth);
}

.solar-system__planet--earth{
    --size-celestial: var(--size-planet-earth);

    animation-name: rotation, movement-orbit-earth, shadow-small;
    animation-duration: var(--time-rotation-earth), var(--time-orbit-earth), var(--time-orbit-earth);

    background: var(--color-earth) var(--url-image-earth);
}

/* ------- earth moon settings ------- */

.planet__satellite--earth{
    --size-celestial: var(--size-revolution-satellite-earth);

    animation-duration: var(--time-rotation-moon);
}

.planet__satellite--earth::before{
    --size-celestial: var(--size-satellite-earth);

    animation-name: rotation, movement-revolution-satellite-earth, shadow-small;
    animation-duration: var(--time-rotation-moon), var(--time-rotation-moon), var(--time-orbit-earth);

    background: var(--color-moon) var(--url-image-moon);
}

/* ------- mars settings ------- */

.solar-system__orbit--mars{
    --size-celestial: var(--size-orbit-mars);
    z-index: 6;

    animation-duration: var(--time-orbit-mars);
}

.solar-system__planet--mars{
    --size-celestial: var(--size-planet-mars);

    animation-name: rotation, movement-orbit-mars, shadow-small;
    animation-duration: var(--time-rotation-mars), var(--time-orbit-mars), var(--time-orbit-mars);

    background: var(--color-mars) var(--url-image-mars);
}

/* ------- mars moons settings ------- */

.planet__satellite--mars{
    --size-celestial: var(--size-revolution-satellite-mars);
}

.planet__satellite--mars::before{
    --size-celestial: var(--size-satellite-mars-1);
}

.planet__satellite--mars::after{
    --size-celestial: var(--size-satellite-mars-2);
}

/* ------- jupiter settings ------- */

.solar-system__orbit--jupiter{
    --size-celestial: var(--size-orbit-jupiter);
    z-index: 5;

    animation-duration: var(--time-orbit-jupiter);
}

.solar-system__planet--jupiter{
    --size-celestial: var(--size-planet-jupiter);

    animation-name: rotation, movement-orbit-jupiter, shadow-big;
    animation-duration: var(--time-rotation-jupiter), var(--time-orbit-jupiter), var(--time-orbit-jupiter);

    background: var(--color-jupiter) var(--url-image-jupiter);
}

.solar-system__planet--jupiter::before{
    height: 5.3rem;

    transform: translate(-50%, -50%) rotateX(var(--angle-system))
        rotateZ(var(--tilt-jupiter));
    animation-name: movement-rings-jupiter;
    animation-duration: var(--time-rotation-jupiter);

    border-width: .05rem;
    border-style: solid;
}

/* ------- jupiter moons settings ------- */

.planet__satellite--jupiter{
    --size-celestial: var(--size-revolution-satellite-jupiter);
}

.planet__satellite--jupiter::before{
    --size-celestial: var(--size-satellite-jupiter-1);
}

.planet__satellite--jupiter::after{
    --size-celestial: var(--size-satellite-jupiter-2);
}

.satellite__img--jupiter{
    animation-duration: var(--time-revolution-default), var(--time-orbit-jupiter);
}

/* ------- saturn settings ------- */

.solar-system__orbit--saturn{
    --size-celestial: var(--size-orbit-saturn);
    z-index: 4;

    animation-duration: var(--time-orbit-saturn);
}

.solar-system__planet--saturn{
    --size-celestial: var(--size-planet-saturn);

    animation-name: rotation, movement-orbit-saturn, shadow-big;
    animation-duration: var(--time-rotation-saturn), var(--time-orbit-saturn), var(--time-orbit-saturn);

    background: var(--color-saturn) var(--url-image-saturn);
}

.solar-system__planet--saturn::before{
    height: 4.2rem;

    transform: translate(-50%, -50%) rotateX(var(--angle-system))
        rotateZ(var(--tilt-saturn));
    animation-name: movement-rings-saturn;
    animation-duration: var(--time-rotation-saturn);

    border-width: .1rem;
    border-style: solid;
}

/* ------- saturn moons settings ------- */

.planet__satellite--saturn:nth-child(1){
    --size-celestial: var(--size-revolution-satellite-saturn-1);
}

.planet__satellite--saturn:nth-child(2){
    --size-celestial: var(--size-revolution-satellite-saturn-2);
}

.planet__satellite--saturn:nth-child(1)::before{
    --size-celestial: var(--size-satellite-saturn-1);
}

.planet__satellite--saturn:nth-child(1)::after{
    --size-celestial: var(--size-satellite-saturn-2);
}

.planet__satellite--saturn:nth-child(2)::before{
    --size-celestial: var(--size-satellite-saturn-3);
}

.satellite__img--saturn{
    animation-duration: var(--time-revolution-default), var(--time-orbit-saturn);
}

/* ------- uranus settings ------- */

.solar-system__orbit--uranus{
    --size-celestial: var(--size-orbit-uranus);
    z-index: 3;

    animation-duration: var(--time-orbit-uranus);
}

.solar-system__planet--uranus{
    --size-celestial: var(--size-planet-uranus);

    animation-name: rotation, movement-orbit-uranus, shadow-uranus;
    animation-duration: var(--time-rotation-uranus), var(--time-orbit-uranus), var(--time-orbit-uranus);

    background: var(--color-uranus) var(--url-image-uranus);
}

.solar-system__planet--uranus::before{
    width: 3.5rem;

    transform: translate(-50%, -50%) rotateX(var(--angle-system))
        rotateZ(var(--tilt-uranus));
    animation-name: movement-rings-default;
    animation-duration: var(--time-rotation-uranus);

    border: .2rem solid transparent;
    box-shadow: inset 0 0 .01rem .03rem var(--color-white-02),
        0 0 .01rem .02rem var(--color-white-01),
        0 0 .1rem .05rem var(--color-white-02);
}

/* ------- uranus moons settings ------- */

.planet__satellite--uranus{
    --size-celestial: var(--size-revolution-satellite-uranus);
}

.planet__satellite--uranus::before{
    --size-celestial: var(--size-satellite-uranus-1);
}

.planet__satellite--uranus::after{
    --size-celestial: var(--size-satellite-uranus-2);
}

.satellite__img--uranus{
    animation-duration: var(--time-revolution-default), var(--time-orbit-uranus);
}

/* ------- neptune settings ------- */

.solar-system__orbit--neptune{
    --size-celestial: var(--size-orbit-neptune);
    z-index: 2;

    animation-duration: var(--time-orbit-neptune);
}

.solar-system__planet--neptune{
    --size-celestial: var(--size-planet-neptune);

    animation-name: rotation, movement-orbit-neptune, shadow-big;
    animation-duration: var(--time-rotation-neptune), var(--time-orbit-neptune), var(--time-orbit-neptune);

    background: var(--color-neptune) var(--url-image-neptune);
}

.solar-system__planet--neptune::before{
    width: 3.5rem;

    transform: translate(-50%, -50%) rotateX(var(--angle-system))
        rotateZ(var(--tilt-neptune));
    animation-name: movement-rings-default;
    animation-duration: var(--time-rotation-neptune);

    border: .1rem solid transparent;
    box-shadow: inset 0 0 .05rem .01rem var(--color-white-01),
        0 0 .01rem .02rem var(--color-white-01);
}

/* ------- neptune moons settings ------- */

.planet__satellite--neptune:nth-child(1){
    --size-celestial: var(--size-revolution-satellite-neptune-1);
}

.planet__satellite--neptune:nth-child(2){
    --size-celestial: var(--size-revolution-satellite-neptune-2);
}

.planet__satellite--neptune:nth-child(1)::before{
    --size-celestial: var(--size-satellite-neptune-1);
}

.planet__satellite--neptune:nth-child(1)::after{
    --size-celestial: var(--size-satellite-neptune-2);
}

.planet__satellite--neptune:nth-child(2)::before{
    --size-celestial: var(--size-satellite-neptune-3);
}

.planet__satellite--neptune:nth-child(2)::after{
    --size-celestial: var(--size-satellite-neptune-4);
}

.satellite__img--neptune{
    animation-duration: var(--time-revolution-default), var(--time-orbit-neptune);
}

/* ------- sun, planets and satellites settings ------- */

.animation-paused .solar-system__orbit,
.animation-paused .solar-system__planet,
.animation-paused .planet__satellite,
.animation-paused .planet__satellite::before,
.animation-paused .planet__satellite--double::after,
.animation-paused .satellite__img{
    animation-play-state: paused;
}

.solar-system__sun,
.solar-system__planet,
.planet__satellite::before{
    background-size: cover;
}

.modal__planet,
.solar-system__orbit,
.solar-system__planet,
.solar-system__planet--rings::before,
.planet__satellite,
.planet__satellite::before,
.planet__satellite--double::after,
.satellite__img{
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.planet__satellite,
.planet__satellite::before,
.planet__satellite--double::after{
    animation-duration: var(--time-revolution-default);
}

.modal__planet{
    animation-name: rotation;
}

.solar-system__orbit{
    animation-name: movement-orbit;
}

.planet__satellite{
    animation-name: movement-revolution;
}

.planet__satellite::before,
.planet__satellite--double::after{
    animation-name: movement-revolution-satellite-default;
}

.satellite__img:nth-child(1),
.satellite__img:nth-child(4){
    animation-name: movement-revolution-satellite-image-type1, movement-orbit-satellite-image;
}

.satellite__img:nth-child(2),
.satellite__img:nth-child(5){
    animation-name: movement-revolution-satellite-image-type2, movement-orbit-satellite-image;
}

.satellite__img:nth-child(3){
    animation-name: movement-revolution-satellite-image-type3, movement-orbit-satellite-image;
}

/* ------- animations ------- */

@keyframes shine-sun{
    from {
        box-shadow: inset 0 0 0.8rem 0.4rem var(--color-yellow-01),
            0 0 0.8rem 0.8rem var(--color-yellow-02),
            0 0 5rem 3.3rem var(--color-yellow-03),
            0 0 6.7rem 5.8rem var(--color-yellow-04);
    } to {
        box-shadow: inset 0 0 4.2rem 0.4rem var(--color-yellow-01),
            0 0 1.7rem 1.7rem var(--color-yellow-02),
            0 0 5.8rem 4.2rem var(--color-yellow-03),
            0 0 7.5rem 5.8rem var(--color-yellow-04);
    }
}

@keyframes shine-star{
    from {
        box-shadow: 0 0 .1rem .1rem var(--color-white-01),
            0 0 .1rem .1rem var(--color-white-02);
    } to {
        box-shadow: 0 0 .15rem .15rem var(--color-white-01),
            0 0 .3rem .2rem var(--color-white-02);
    }
}

@keyframes rotation {
    from {
        background-position: right top;
    } to {
        background-position: left top;
    }
}

@keyframes movement-orbit{
    from {
        transform: translate(-50%, -50%)
            rotateZ(0);
    } to {
        transform: translate(-50%, -50%)
            rotateZ(-360deg);
    }
}

@keyframes movement-orbit-mercury{
    from {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(0deg)
            rotateZ(var(--tilt-mercury));
    } to {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(-360deg)
            rotateZ(var(--tilt-mercury));
    }
}

@keyframes movement-orbit-venus{
    from {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(0deg)
            rotateZ(var(--tilt-venus));
    } to {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(-360deg)
            rotateZ(var(--tilt-venus));
    }
}

@keyframes movement-orbit-earth{
    from {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(0deg)
            rotateZ(var(--tilt-earth));
    } to {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(-360deg)
            rotateZ(var(--tilt-earth));
    }
}

@keyframes movement-orbit-mars{
    from {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(0deg)
            rotateZ(var(--tilt-mars));
    } to {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(-360deg)
            rotateZ(var(--tilt-mars));
    }
}

@keyframes movement-orbit-jupiter{
    from {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(0deg)
            rotateZ(var(--tilt-jupiter));
    } to {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(-360deg)
            rotateZ(var(--tilt-jupiter));
    }
}

@keyframes movement-orbit-saturn{
    from {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(0deg)
            rotateZ(var(--tilt-saturn));
    } to {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(-360deg)
            rotateZ(var(--tilt-saturn));
    }
}

@keyframes movement-orbit-uranus{
    from {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(0deg)
            rotateZ(var(--tilt-uranus));
    } to {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(-360deg)
            rotateZ(var(--tilt-uranus));
    }
}

@keyframes movement-orbit-neptune{
    from {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(0deg)
            rotateZ(var(--tilt-neptune));
    } to {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(-360deg)
            rotateZ(var(--tilt-neptune));
    }
}

@keyframes movement-orbit-satellite-image{
    0% {
        width: 100%;
    } 25% {
        width: 50%;
    } 50% {
        width: 100%;
    } 75% {
        width: 150%;
    } 100% {
        width: 100%;
    }
}

@keyframes movement-revolution{
    from {
        transform: translate(-50%, -50%) rotateX(var(--angle-system))
            rotateZ(0);
    } to {
        transform: translate(-50%, -50%) rotateX(var(--angle-system))
            rotateZ(-360deg);
    }
}

@keyframes movement-revolution-satellite-default{
    from {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(0deg);
    } to {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(-360deg);
    }
}

@keyframes movement-revolution-satellite-earth{
    from {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(0deg)
            rotateZ(var(--tilt-moon));
    } to {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(-360deg)
            rotateZ(var(--tilt-moon));
    }
}

@keyframes movement-revolution-satellite-image-type1{
    from {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(0deg)
            scale3d(.16, .16, .16);
    } to {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(-360deg)
            scale3d(.16, .16, .16);
    }
}

@keyframes movement-revolution-satellite-image-type2{
    from {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(0deg)
            scale3d(.1, .1, .1);
    } to {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(-360deg)
            scale3d(.1, .1, .1);
    }
}

@keyframes movement-revolution-satellite-image-type3{
    from {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(0deg)
            scale3d(.08, .08, .08);
    } to {
        transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
            rotateY(-360deg)
            scale3d(.08, .08, .08);
    }
}

@keyframes movement-rings-default{
    0% {
        height: 3.5rem;
    } 50% {
        height: 3.2rem;
    } 100% {
        height: 3.5rem;
    }
}

@keyframes movement-rings-jupiter{
    0% {
        width: 5.3rem;

        border-color: var(--color-gray);
        box-shadow: inset 0 0 .1rem .05rem var(--color-brown),
            0 0 .1rem .05rem var(--color-brown),
            0 0 .1rem .05rem var(--color-gray);
    } 50% {
        width: 5.5rem;

        border-color: var(--color-brown);
            box-shadow: inset 0 0 .1rem .05rem var(--color-gray),
            0 0 .1rem .05rem var(--color-gray),
            0 0 .1rem .05rem var(--color-brown);
    } 100% {
        width: 5.3rem;

        border-color: var(--color-gray);
        box-shadow: inset 0 0 .1rem .05rem var(--color-brown),
            0 0 .1rem .05rem var(--color-brown),
            0 0 .1rem .05rem var(--color-gray);
    }
}

@keyframes movement-rings-saturn{
    0% {
        width: 4.2rem;

        border-color: var(--color-beige-01);
        box-shadow: inset 0 0 .1rem .05rem var(--color-beige-01),
            0 0 .1rem .05rem var(--color-beige-01),
            0 0 .1rem .1rem var(--color-beige-02),
            0 0 .1rem .3rem var(--color-beige-01),
            0 0 .1rem .4rem var(--color-beige-02),
            0 0 .1rem .6rem var(--color-beige-01),
            0 0 .1rem .8rem var(--color-beige-02);
    } 50% {
        width: 4rem;

        border-color: var(--color-beige-02);
        box-shadow: inset 0 0 .1rem .05rem var(--color-beige-02),
            0 0 .1rem .05rem var(--color-beige-02),
            0 0 .1rem .1rem var(--color-beige-01),
            0 0 .1rem .3rem var(--color-beige-02),
            0 0 .1rem .4rem var(--color-beige-01),
            0 0 .1rem .6rem var(--color-beige-02),
            0 0 .1rem .8rem var(--color-beige-01);
    } 100% {
        width: 4.2rem;

        border-color: var(--color-beige-01);
        box-shadow: inset 0 0 .1rem .05rem var(--color-beige-01),
            0 0 .1rem .05rem var(--color-beige-01),
            0 0 .1rem .1rem var(--color-beige-02),
            0 0 .1rem .3rem var(--color-beige-01),
            0 0 .1rem .4rem var(--color-beige-02),
            0 0 .1rem .6rem var(--color-beige-01),
            0 0 .1rem .8rem var(--color-beige-02);
    }
}

@keyframes shadow-small{
    0% {
        box-shadow: inset -0.2rem 0 .25rem .01rem var(--color-black-02),
            inset .2rem 0 .25rem .01rem var(--color-white-02);
    } 25% {
        box-shadow: inset 0 0 0 .01rem var(--color-black-02),
            inset 0 0 2rem .01rem var(--color-white-02);
    } 50% {
        box-shadow: inset .2rem 0 .25rem .01rem var(--color-black-02),
            inset -0.2rem 0 .25rem .01rem var(--color-white-02);
    } 75% {
        box-shadow: inset 0 0 2rem .01rem var(--color-black-02),
            inset 0 0 0 .01rem var(--color-white-02);
    } 100% {
        box-shadow: inset -0.2rem 0 .25rem .01rem var(--color-black-02),
            inset .2rem 0 .25rem .01rem var(--color-white-02);
    }
}

@keyframes shadow-big{
    0% {
        box-shadow: inset -1rem 0 1.25rem .05rem var(--color-black-02),
            inset 1rem 0 1.25rem .05rem var(--color-white-02);
    } 25% {
        box-shadow: inset 0 0 0 .05rem var(--color-black-02),
            inset 0 0 10rem .05rem var(--color-white-02);
    } 50% {
        box-shadow: inset 1rem 0 1.25rem .05rem var(--color-black-02),
            inset -1rem 0 1.25rem .05rem var(--color-white-02);
    } 75% {
        box-shadow: inset 0 0 10rem .05rem var(--color-black-02),
            inset 0 0 0 .05rem var(--color-white-02);
    } 100% {
        box-shadow: inset -1rem 0 1.25rem .05rem var(--color-black-02),
            inset 1rem 0 1.25rem .05rem var(--color-white-02);
    }
}

@keyframes shadow-venus{
    0% {
        box-shadow: inset .2rem 0 .25rem .01rem var(--color-black-02),
            inset -0.2rem 0 .25rem .01rem var(--color-white-02);
    } 25% {
        box-shadow: inset 0 0 0 .01rem var(--color-black-02),
            inset 0 0 2rem .01rem var(--color-white-02);
    } 50% {
        box-shadow: inset -0.2rem 0 .25rem .01rem var(--color-black-02),
            inset .2rem 0 .25rem .01rem var(--color-white-02);
    } 75% {
        box-shadow: inset 0 0 2rem .01rem var(--color-black-02),
            inset 0 0 0 .01rem var(--color-white-02);
    } 100% {
        box-shadow: inset .2rem 0 .25rem .01rem var(--color-black-02),
            inset -0.2rem 0 .25rem .01rem var(--color-white-02);
    }
}

@keyframes shadow-uranus{
    0% {
        box-shadow: inset 0 .4rem .5rem .02rem var(--color-black-02),
            inset 0 -0.2rem .5rem .02rem var(--color-white-02);
    } 25% {
        box-shadow: inset 0 0 0 .02rem var(--color-black-02),
            inset 0 0 4rem .02rem var(--color-white-02);
    } 50% {
        box-shadow: inset 0 -0.4rem .5rem .02rem var(--color-black-02),
            inset 0 .2rem .5rem .02rem var(--color-white-02);
    } 75% {
        box-shadow: inset 0 0 4rem .02rem var(--color-black-02),
            inset 0 0 0 .02rem var(--color-white-02);
    } 100% {
        box-shadow: inset 0 .4rem .5rem .02rem var(--color-black-02),
            inset 0 -0.2rem .5rem .02rem var(--color-white-02);
    }
}

/* ------- languages box------- */

.languages{
    width: 3rem;

    position: fixed;
    bottom: 1rem;
    right: 1rem;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;
}

.languages__box{
    display: none;

    border: 0;
    background-color: transparent;
    color: var(--color-white-01);
}

.languages--on .languages__box{
    display: initial;
}

.languages__option{
    padding: 1rem;

    text-align: center;
    font-size: 1.5rem;

    border: 1px solid var(--color-white-02);
}

.languages__option:hover{
    background-color: var(--color-white-02);
    cursor: pointer;
}

.languages__option:checked{
    border: 0;
    background-color: var(--color-white-01);
    color: var(--color-black-01);
}

/* ------- modal box------- */

.modal__button--open{
    position: fixed;
    left: 1rem;
    bottom: 1rem;
}

.modal__button--close{
    position: absolute;
    top: 4rem;
    right: 4rem;
    z-index: 2;

    font-size: 3rem;
}

.modal__button--close:hover{
    color: var(--modal-color);
}

.modal{
    width: 100%;
    height: 100%;

    position: absolute;
    inset: 0;

    display: none;

    background-color: var(--color-black-02);
}

.modal--on .modal{
    display: initial;
}

.modal--on .header{
    display: none;
}

.modal__box{
    width: 100%;
    height: 100%;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.modal__box::before,
.modal__box::after{
    width: 100%;
    height: 100%;

    position: absolute;
    inset: 0;

    background: linear-gradient(45deg, var(--color-white-01), var(--modal-color));
}

.modal__content{
    padding: 3rem;

    position: absolute;
    inset: 1rem;
    z-index: 1;

    background-color: var(--color-black-02);
    overflow: scroll;
}

.modal__title--main,
.modal__title--secondary{
    margin-bottom: 1rem;

    letter-spacing: .2rem;
    word-spacing: 1rem;
    font-variant: small-caps;

    color: var(--modal-color);
}

.modal__title--main{
    font-size: 4rem;
}

.modal__title--secondary{
    margin-top: 2rem;
    font-size: 3rem;
}

.modal__paragraph,
.modal__url,
.modal__list-item{
    margin: .7rem .5rem;

    letter-spacing: 1px;
    font-size: 2rem;

    color: var(--color-white-01);
}

.modal__url{
    display: block;

    text-decoration: none;
    text-transform: capitalize;
}

.modal__url:hover{
    color: var(--color-yellow-02);
}

.modal__list{
    margin-top: 2rem;
    padding-top: 2rem;

    border-top: 2px solid var(--modal-color);
}

.modal__list-item{
    list-style: none;
}

.modal__list-item:first-of-type{
    margin-top: 0;
}

.modal__list-item:last-of-type{
    margin-bottom: 0;
}

.modal__list-item::before{
    content: "\2022";

    margin-right: .5rem;

    font-size: 1.8rem;
    font-weight: bold;
    vertical-align: middle;

    color: var(--modal-color);
}

@media only screen and (min-width: 720px){

    .modal__button--close{
        font-size: 2rem;
    }

    .modal__title--main{
        font-size: 2.2rem;
    }

    .modal__title--secondary{
        font-size: 1.7rem;
    }

    .modal__paragraph,
    .modal__url,
    .modal__list-item{
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 720px)
    and (min-height: 480px){

    .modal__box{
        width: 55rem;
        height: 50rem;
        max-width: 100%;
        max-height: 100%;
    }

    .modal__box::before,
    .modal__box::after,
    .modal__content{
        border-radius: 5rem;
    }

    .modal__box::after{
        filter: blur(2rem);
    }
}

@media only screen and (max-width: 576px),
    only screen and (max-height: 320px){

    .modal--on .universe{
        display: none;
    }
}

/* ------- app information box------- */

.modal__dev{
    margin: 2.3rem 0 1rem 0;

    letter-spacing: .2rem;
    font-variant: small-caps;

    color: var(--color-yellow-04);
}

.modal__dev,
.modal__dev .modal__url,
.modal__dev .icon{
    font-size: 2.3rem;
}

.modal__dev .icon{
    color: var(--color-white-01);
}

.modal__dev .icon:hover{
    cursor: initial;
}

.modal__dev .modal__url{
    margin: 0;
    display: initial;
}

@media only screen and (min-width: 720px){

    .modal__dev,
    .modal__dev .modal__url,
    .modal__dev .icon{
        font-size: 1.5rem;
    }
}

/* ------- planets information box------- */

.modal__planet{
    width: 50vw;
    height: 50vw;
    margin: 0 auto 2rem;

    position: relative;
    transform: rotateZ(var(--modal-tilt-planet));
    animation-duration: var(--modal-time-rotation-planet);

    background: var(--modal-color) var(--modal-image-planet);
    background-size: cover;
    box-shadow: inset -1rem 0 1.25rem .05rem var(--color-black-02),
        inset 1rem 0 1.25rem .05rem var(--color-white-02);
}

.modal__planet--rings:before{
    width: 60vw;
    height: 60vw;

    transform: translate(-50%, -50%) rotateX(var(--angle-system))
        rotateZ(var(--modal-tilt-planet));

    border-width: .8rem;
    border-style: solid;
}

.modal--mercury{
    --modal-color: var(--color-mercury);
    --modal-tilt-planet: var(--tilt-mercury);
    --modal-time-rotation-planet: var(--time-rotation-mercury);
    --modal-image-planet: var(--url-image-mercury);
}

.modal--venus{
    --modal-color: var(--color-venus);
    --modal-tilt-planet: var(--tilt-venus);
    --modal-time-rotation-planet: var(--time-rotation-venus);
    --modal-image-planet: var(--url-image-venus);
}

.modal--earth{
    --modal-color: var(--color-earth);
    --modal-tilt-planet: var(--tilt-earth);
    --modal-time-rotation-planet: var(--time-rotation-earth);
    --modal-image-planet: var(--url-image-earth);
}

.modal--mars{
    --modal-color: var(--color-mars);
    --modal-tilt-planet: var(--tilt-mars);
    --modal-time-rotation-planet: var(--time-rotation-mars);
    --modal-image-planet: var(--url-image-mars);
}

.modal--jupiter{
    --modal-color: var(--color-jupiter);
    --modal-tilt-planet: var(--tilt-jupiter);
    --modal-time-rotation-planet: var(--time-rotation-jupiter);
    --modal-image-planet: var(--url-image-jupiter);
}

.modal--saturn{
    --modal-color: var(--color-saturn);
    --modal-tilt-planet: var(--tilt-saturn);
    --modal-time-rotation-planet: var(--time-rotation-saturn);
    --modal-image-planet: var(--url-image-saturn);
}

.modal--uranus{
    --modal-color: var(--color-uranus);
    --modal-tilt-planet: var(--tilt-uranus);
    --modal-time-rotation-planet: var(--time-rotation-uranus);
    --modal-image-planet: var(--url-image-uranus);
}

.modal__planet--uranus{
    margin: 8rem auto;
}

.modal--neptune{
    --modal-color: var(--color-neptune);
    --modal-tilt-planet: var(--tilt-neptune);
    --modal-time-rotation-planet: var(--time-rotation-neptune);
    --modal-image-planet: var(--url-image-neptune);
}

.modal__planet--jupiter::before{
    border-color: var(--color-brown);
    box-shadow: inset 0 0 1rem 1.2rem var(--color-gray),
        0 0 1rem .7rem var(--color-gray),
        0 0 1rem .9rem var(--color-brown);
}

.modal__planet--saturn::before{
    border-color: var(--color-beige-01);
    box-shadow: inset 0 0 1rem 1.05rem var(--color-beige-01),
        0 0 1rem 1.05rem var(--color-beige-01),
        0 0 1rem 1.1rem var(--color-beige-02),
        0 0 1rem 1.3rem var(--color-beige-01),
        0 0 1rem 1.4rem var(--color-beige-02),
        0 0 1rem 1.6rem var(--color-beige-01),
        0 0 1rem 1.8rem var(--color-beige-02);
}

.modal__planet--uranus::before{
    border-color: transparent;
    box-shadow: inset 0 0 .5rem .2rem var(--color-white-02),
        0 0 .5rem .5rem var(--color-white-01),
        0 0 .5rem .7rem var(--color-white-02);
}

.modal__planet--neptune::before{
    border-color: transparent;
    box-shadow: inset 0 0 .7rem .1rem var(--color-white-01),
        0 0 .7rem .3rem var(--color-white-01);
}

@media only screen and (min-width: 720px)
    and (min-height: 480px){

    .modal__planet{
        width: 10rem;
        height: 10rem;
        margin: 0;

        position: fixed;
        bottom: 3rem;
        right: 4rem;

        box-shadow: inset -0.2rem 0 .25rem .01rem var(--color-black-02),
            inset .2rem 0 .25rem .01rem var(--color-white-02);
    }

    .modal__planet--rings::before{
        width: 12rem;
        height: 12rem;

        border-width: .5rem;
    }

    .modal__planet--jupiter::before{
        box-shadow: inset 0 0 .8rem .4rem var(--color-gray),
            0 0 .8rem .1rem var(--color-gray),
            0 0 .8rem .2rem var(--color-brown);
    }

    .modal__planet--saturn::before{
        box-shadow: inset 0 0 .1rem .05rem var(--color-beige-01),
            0 0 .1rem .05rem var(--color-beige-01),
            0 0 .1rem .1rem var(--color-beige-02),
            0 0 .1rem .3rem var(--color-beige-01),
            0 0 .1rem .4rem var(--color-beige-02),
            0 0 .1rem .6rem var(--color-beige-01),
            0 0 .1rem .8rem var(--color-beige-02);
    }

    .modal__planet--uranus{
        margin: initial;

        bottom: 4rem;
        right: 3rem;
    }

    .modal__planet--uranus::before{
        box-shadow: inset 0 0 .3rem .05rem var(--color-white-02),
            0 0 .3rem .2rem var(--color-white-01),
            0 0 .3rem .4rem var(--color-white-02);
    }

    .modal__planet--neptune::before{
        box-shadow: inset 0 0 .3rem .05rem var(--color-white-01),
            0 0 .3rem .1rem var(--color-white-01);
    }
}
