@import url("./reset.css");
@import url("./variables.css");

body{
    background-color: var(--black);
    color: var(--white);
    width: 100vw;
    height: 100vh;
}

/* ------- space general settings ------- */

#universe{
    width: 100%;
    height: 100%;
    overflow: hidden;
    perspective: 500px;
}

#solar-system{
    width: 100%;
    height: 100%;
    transform: rotateX(var(--system-angle));
    position: relative;
}

.planet{
    border: 2px dashed var(--white);

    transform: translate(-50%, -50%);
}

.planet::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
}

#solar-system,
#sun,
.planet,
.planet::after{
    transform-style: preserve-3d;
}

#sun,
.planet,
.planet::after{
    border-radius: 50%;
}

#sun,
.planet{
    position: absolute;
    top: 50%;
    left: 50%;
}

#sun,
.planet::after{
    transform: translate(-50%, -50%) rotateX(var(--inverted-system-angle));
}

/* ------- sun settings ------- */

#sun{
    border: 1px solid var(--yellow-02);
    background: url("../images/sun.jpg");
    background-size: cover;

    width: 20rem;
    height: 20rem;

    animation: shine-sun 1s linear infinite alternate;
}

@keyframes shine-sun{
    from {
        box-shadow:
            inset 0 0 10px 5px var(--yellow-01),
            0 0 10px 10px var(--yellow-02),
            0 0 60px 40px var(--yellow-03),
            0 0 80px 70px var(--yellow-04);
    }
    to {
        box-shadow:
            inset 0 0 50px 5px var(--yellow-01),
            0 0 20px 20px var(--yellow-02),
            0 0 70px 50px var(--yellow-03),
            0 0 90px 70px var(--yellow-04);
    }
}

/* ------------------ mercury settings ------------------ */

#mercury{
    width: 22rem;
    height: 22rem;
}

#mercury::after{
    background: url("../images/mercury.jpg");
    background-size: cover;

    width: .8rem;
    height: .8rem;
}

/* ------- venus settings ------- */

#venus{
    width: 25.44em;
    height: 25.44em;
}

#venus::after{
    background: url("../images/venus.jpg");
    background-size: cover;

    width: 1.74em;
    height: 1.74em;
}

/* ------- earth settings ------- */

#earth{
    width: 30.33rem;
    height: 30.33rem;
}

#earth::after{
    background: url("../images/earth.jpg");
    background-size: cover;

    width: 1.9rem;
    height: 1.9rem;

    transform: translate(-50%, -50%) rotateX(var(--inverted-system-angle))
        rotateZ(23deg);
}