@import url("./animation.css");
@import url("./languages.css");
@import url("./modal.css");

*{
    transition: .4s;
}

body{
    width: 100vw;
    height: 100vh;

    background-color: var(--color-black-01);
    color: var(--color-white-01);
}

.header{
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.header__title{
    width: max-content;
    margin: 2.5rem auto 0;

    text-align: center;
    letter-spacing: .2rem;
    font-size: 5rem;
    font-weight: 600;
    font-variant: small-caps;
}

.header__title:hover{
    color: var(--color-yellow-02);
    cursor: pointer;
}

.icon{
    font-size: 2rem;
    color: var(--color-white-02);
}

.icon:hover{
    color: var(--color-white-01);
    cursor: pointer;
}

/* ------- space general settings ------- */

.universe{
    min-width: 576px;
    min-height: 320px;

    background: var(--color-black-01) var(--url-image-space);
    background-size: cover;
    background-repeat: no-repeat;

    overflow: hidden;
    perspective: 500px;
}

.universe,
.universe__solar-system{
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 720px){
    .universe{
        min-height: 400px;
    }
}

@media only screen and (min-width: 980px){
    .universe{
        min-height: 460px;
    }
}

@media only screen and (min-width: 1380px){
    .universe{
        min-height: 600px;
    }
}

.universe__solar-system{
    position: relative;
    transform: rotateX(var(--angle-system))
        translate3d(0, var(--distance-system-y), var(--distance-system-z));
}

.universe__solar-system,
.solar-system__sun,
.universe__star,
.solar-system__orbit,
.solar-system__planet,
.solar-system__planet--rings::before,
.planet__satellite,
.planet__satellite::before,
.planet__satellite--double::after{
    transform-style: preserve-3d;
}

.universe__star,
.satellite__img{
    position: absolute;
}

.universe__star,
.solar-system__sun,
.solar-system__orbit,
.solar-system__planet,
.solar-system__planet--rings::before,
.planet__satellite,
.planet__satellite::before,
.planet__satellite--double::after{
    width: var(--size-celestial);
    height: var(--size-celestial);

    border-radius: 50%;
}

.solar-system__sun,
.solar-system__orbit,
.solar-system__planet--rings::before,
.planet__satellite{
    position: absolute;
    top: 50%;
    left: 50%;
}

.solar-system__orbit{
    transform: translate(-50%, -50%);
}

.solar-system__orbit:hover{
    border-color: var(--color-white-01);
    border-style: solid;
    cursor: pointer;
}

.solar-system__orbit:hover .solar-system__planet{
    border: 1px solid var(--color-white-01);
}

.solar-system__orbit,
.planet__satellite{
    border: .01rem dashed var(--color-white-02);
}

.solar-system__planet,
.planet__satellite--double::after{
    position: absolute;
    top: 50%;
    left: 100%;
}

.solar-system__planet--rings::before,
.planet__satellite::before,
.planet__satellite--double::after{
    content: "";
}

.planet__satellite{
    transform: translate(-50%, -50%) rotateX(var(--angle-system));
}

.planet__satellite::before{
    position: absolute;
    top: 100%;
    left: 50%;
}

.planet__satellite::before,
.planet__satellite--double::after{
    transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted));
    background-color: var(--color-satellite-default);
}

.satellite__img:nth-child(1){
    top: 30%;
    left: 7%;
}

.satellite__img:nth-child(2){
    top: 50%;
    left: 5%;
}

.satellite__img:nth-child(3){
    top: 94%;
    left: 30%;

    transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
        scale3d(.08, .08, .08);
}

.satellite__img:nth-child(4){
    top: 95%;
    left: 70%;
}

.satellite__img:nth-child(5){
    top: 70%;
    left: 95%;
}

.satellite__img:nth-child(1),
.satellite__img:nth-child(4){
    transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
        scale3d(.16, .16, .16);
}

.satellite__img:nth-child(2),
.satellite__img:nth-child(5){
    transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
        scale3d(.1, .1, .1);
}

/* ------- stars settings ------- */

.solar-system__sun{
    --size-celestial: var(--size-sun);
    z-index: 10;

    transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted));

    border: 1px solid var(--color-yellow-02);
    background: var(--color-sun) var(--url-image-sun);
    box-shadow: inset 0 0 0.8rem 0.4rem var(--color-yellow-01),
        0 0 0.8rem 0.8rem var(--color-yellow-02),
        0 0 5rem 3.3rem var(--color-yellow-03),
        0 0 6.7rem 5.8rem var(--color-yellow-04);
}

.solar-system__sun:hover{
    border-color: var(--color-yellow-04);
    cursor: pointer;
}

.universe__star{
    --size-celestial: var(--size-star);

    background-color: var(--color-white-01);
    box-shadow: 0 0 .1rem .1rem var(--color-white-01),
        0 0 .1rem .1rem var(--color-white-02);
}

.universe__star:nth-child(2){
    left: 25%;
    bottom: 10%;
}

.universe__star:nth-child(3){
    top: 40%;
    left: 25%;
}

.universe__star:nth-child(4){
    top: 30%;
    right: 25%;
}

.universe__star:nth-child(5){
    bottom: 30%;
    right: 10%;
}

.universe__star:nth-child(6){
    top: 10%;
    left: 5%;
}

/* ------------------ mercury settings ------------------ */

.solar-system__orbit--mercury{
    --size-celestial: var(--size-orbit-mercury);
    z-index: 9;
}

.solar-system__planet--mercury{
    --size-celestial: var(--size-planet-mercury);

    transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
        rotateZ(var(--tilt-mercury));

    background: var(--color-mercury) var(--url-image-mercury);
}

/* ------- venus settings ------- */

.solar-system__orbit--venus{
    --size-celestial: var(--size-orbit-venus);
    z-index: 8;
}

.solar-system__planet--venus{
    --size-celestial: var(--size-planet-venus);

    transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
        rotateZ(var(--tilt-venus));

    background: var(--color-venus) var(--url-image-venus);
}

/* ------- earth settings ------- */

.solar-system__orbit--earth{
    --size-celestial: var(--size-orbit-earth);
    z-index: 7;
}

.solar-system__planet--earth{
    --size-celestial: var(--size-planet-earth);

    transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
        rotateZ(var(--tilt-earth));

    background: var(--color-earth) var(--url-image-earth);
}

/* ------- earth moon settings ------- */

.planet__satellite--earth{
    --size-celestial: var(--size-revolution-satellite-earth);
}

.planet__satellite--earth::before{
    --size-celestial: var(--size-satellite-earth);

    background: var(--color-moon) var(--url-image-moon);
}

/* ------- mars settings ------- */

.solar-system__orbit--mars{
    --size-celestial: var(--size-orbit-mars);
    z-index: 6;
}

.solar-system__planet--mars{
    --size-celestial: var(--size-planet-mars);

    transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
        rotateZ(var(--tilt-mars));

    background: var(--color-mars) var(--url-image-mars);
}

/* ------- mars moons settings ------- */

.planet__satellite--mars{
    --size-celestial: var(--size-revolution-satellite-mars);
}

.planet__satellite--mars::before{
    --size-celestial: var(--size-satellite-mars-1);
}

.planet__satellite--mars::after{
    --size-celestial: var(--size-satellite-mars-2);
}

/* ------- jupiter settings ------- */

.solar-system__orbit--jupiter{
    --size-celestial: var(--size-orbit-jupiter);
    z-index: 5;
}

.solar-system__planet--jupiter{
    --size-celestial: var(--size-planet-jupiter);

    transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
        rotateZ(var(--tilt-jupiter));

    background: var(--color-jupiter) var(--url-image-jupiter);
}

.solar-system__planet--jupiter::before{
    --size-celestial: var(--size-rings-jupiter);

    transform: translate(-50%, -50%) rotateX(var(--angle-system))
        rotateZ(var(--tilt-jupiter));

    border: .05rem solid var(--color-gray);
    box-shadow: inset 0 0 .1rem .05rem var(--color-brown),
        0 0 .1rem .05rem var(--color-brown),
        0 0 .1rem .05rem var(--color-gray);
}

/* ------- jupiter moons settings ------- */

.planet__satellite--jupiter{
    --size-celestial: var(--size-revolution-satellite-jupiter);
}

.planet__satellite--jupiter::before{
    --size-celestial: var(--size-satellite-jupiter-1);
}

.planet__satellite--jupiter::after{
    --size-celestial: var(--size-satellite-jupiter-2);
}

/* ------- saturn settings ------- */

.solar-system__orbit--saturn{
    --size-celestial: var(--size-orbit-saturn);
    z-index: 4;
}

.solar-system__planet--saturn{
    --size-celestial: var(--size-planet-saturn);

    transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
        rotateZ(var(--tilt-saturn));

    background: var(--color-saturn) var(--url-image-saturn);
}

.solar-system__planet--saturn::before{
    --size-celestial: var(--size-rings-saturn);

    transform: translate(-50%, -50%) rotateX(var(--angle-system))
        rotateZ(var(--tilt-saturn));

    border: .1rem solid var(--color-beige-01);
    box-shadow: inset 0 0 .1rem .05rem var(--color-beige-01),
        0 0 .1rem .05rem var(--color-beige-01),
        0 0 .1rem .1rem var(--color-beige-02),
        0 0 .1rem .3rem var(--color-beige-01),
        0 0 .1rem .4rem var(--color-beige-02),
        0 0 .1rem .6rem var(--color-beige-01),
        0 0 .1rem .8rem var(--color-beige-02);
}

/* ------- saturn moons settings ------- */

.planet__satellite--saturn:nth-child(1){
    --size-celestial: var(--size-revolution-satellite-saturn-1);
}

.planet__satellite--saturn:nth-child(2){
    --size-celestial: var(--size-revolution-satellite-saturn-2);
}

.planet__satellite--saturn:nth-child(1)::before{
    --size-celestial: var(--size-satellite-saturn-1);
}

.planet__satellite--saturn:nth-child(1)::after{
    --size-celestial: var(--size-satellite-saturn-2);
}

.planet__satellite--saturn:nth-child(2)::before{
    --size-celestial: var(--size-satellite-saturn-3);
}

/* ------- uranus settings ------- */

.solar-system__orbit--uranus{
    --size-celestial: var(--size-orbit-uranus);
    z-index: 3;
}

.solar-system__planet--uranus{
    --size-celestial: var(--size-planet-uranus);

    transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
        rotateZ(var(--tilt-uranus));

    background: var(--color-uranus) var(--url-image-uranus);
}

.solar-system__planet--uranus::before{
    --size-celestial: var(--size-rings-uranus);

    transform: translate(-50%, -50%) rotateX(var(--angle-system))
        rotateZ(var(--tilt-uranus));

    border: .2rem solid transparent;
    box-shadow: inset 0 0 .01rem .03rem var(--color-white-02),
        0 0 .01rem .02rem var(--color-white-01),
        0 0 .1rem .05rem var(--color-white-02);
}

/* ------- uranus moons settings ------- */

.planet__satellite--uranus{
    --size-celestial: var(--size-revolution-satellite-uranus);
}

.planet__satellite--uranus::before{
    --size-celestial: var(--size-satellite-uranus-1);
}

.planet__satellite--uranus::after{
    --size-celestial: var(--size-satellite-uranus-2);
}

/* ------- neptune settings ------- */

.solar-system__orbit--neptune{
    --size-celestial: var(--size-orbit-neptune);
    z-index: 2;
}

.solar-system__planet--neptune{
    --size-celestial: var(--size-planet-neptune);

    transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
        rotateZ(var(--tilt-neptune));

    background: var(--color-neptune) var(--url-image-neptune);
}

.solar-system__planet--neptune::before{
    --size-celestial: var(--size-rings-neptune);

    transform: translate(-50%, -50%) rotateX(var(--angle-system))
        rotateZ(var(--tilt-neptune));

    border: .1rem solid transparent;
    box-shadow: inset 0 0 .05rem .01rem var(--color-white-01),
        0 0 .01rem .02rem var(--color-white-01);
}

/* ------- neptune moons settings ------- */

.planet__satellite--neptune:nth-child(1){
    --size-celestial: var(--size-revolution-satellite-neptune-1);
}

.planet__satellite--neptune:nth-child(2){
    --size-celestial: var(--size-revolution-satellite-neptune-2);
}

.planet__satellite--neptune:nth-child(1)::before{
    --size-celestial: var(--size-satellite-neptune-1);
}

.planet__satellite--neptune:nth-child(1)::after{
    --size-celestial: var(--size-satellite-neptune-2);
}

.planet__satellite--neptune:nth-child(2)::before{
    --size-celestial: var(--size-satellite-neptune-3);
}

.planet__satellite--neptune:nth-child(2)::after{
    --size-celestial: var(--size-satellite-neptune-4);
}

/* ------- sun, planets and satellites settings ------- */

.solar-system__sun,
.solar-system__planet,
.planet__satellite::before{
    background-size: cover;
}
