
.modal__box::before,
.modal__box::after,
.modal__planet--rings::before{
    content: "";
}

/* -------------- */

.modal--on .header{
    display: none;
}

.modal--on .modal{
    display: initial;
}

.modal__button--open{
    position: fixed;
    left: 1rem;
    bottom: 1rem;
}

.modal__button--close{
    position: absolute;
    top: 4rem;
    right: 4rem;
    z-index: 2;

    font-size: 3rem;
}

.modal__button--close:hover{
    color: var(--modal-color);
}

.modal{
    width: 100%;
    height: 100%;

    position: absolute;
    inset: 0;

    display: none;

    background-color: var(--color-black-02);
}

.modal__box,
.modal__box::before,
.modal__box::after{
    width: 100%;
    height: 100%;

    position: absolute;
}

.modal__box{
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.modal__box::before,
.modal__box::after{
    inset: 0;

    background: linear-gradient(45deg, var(--color-white-01), var(--modal-color));
}

.modal__content{
    padding: 3rem;

    position: absolute;
    inset: 1rem;
    z-index: 1;

    background-color: var(--color-black-02);
    overflow: scroll;
}

.modal__title--main,
.modal__title--secondary{
    margin-bottom: 1rem;

    letter-spacing: .2rem;
    word-spacing: 1rem;
    font-variant: small-caps;

    color: var(--modal-color);
}

.modal__title--main{
    font-size: 4rem;
}

.modal__title--secondary{
    margin-top: 2rem;
    font-size: 3rem;
}

.modal__paragraph,
.modal__list-item,
.modal__url{
    color: var(--color-white-01);
}

.modal__paragraph,
.modal__list-item,
.modal__url--reference{
    margin: .7rem .5rem;
    font-size: 2rem;
    letter-spacing: 1px;
}

.modal__list{
    margin-top: 2rem;
    padding-top: 2rem;

    border-top: 2px solid var(--modal-color);
}

.modal__list-item{
    list-style: none;
}

.modal__list-item:first-of-type{
    margin-top: 0;
}

.modal__list-item:last-of-type{
    margin-bottom: 0;
}

.modal__list-item::before{
    content: "\2022";

    margin-right: .5rem;

    font-size: 1.8rem;
    font-weight: bold;
    vertical-align: middle;

    color: var(--modal-color);
}

.modal__url{
    text-decoration: none;
    text-transform: capitalize;
}

.modal__url:hover{
    color: var(--color-yellow-02);
}

.modal__url--reference{
    display: block;
}

@media only screen and (min-width: 720px){

    .modal__button--close{
        font-size: 2rem;
    }

    .modal__title--main{
        font-size: 2.2rem;
    }

    .modal__title--secondary{
        font-size: 1.7rem;
    }

    .modal__paragraph,
    .modal__list-item,
    .modal__url--reference{
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 720px)
    and (min-height: 480px){

    .modal__box{
        width: 55rem;
        height: 50rem;
        max-width: 100%;
        max-height: 100%;
    }

    .modal__box::before,
    .modal__box::after,
    .modal__content{
        border-radius: 5rem;
    }

    .modal__box::after{
        filter: blur(2rem);
    }
}

@media only screen and (max-width: 576px),
    only screen and (max-height: 320px){

    .modal--on .universe{
        display: none;
    }
}

/* ------- app information box------- */

.modal__dev{
    margin: 2.3rem 0 1rem 0;
    padding-bottom: .3rem;

    letter-spacing: .2rem;
    font-variant: small-caps;

    color: var(--color-yellow-04);
}

.modal__dev,
.modal__url--dev{
    font-size: 2.3rem;
}

.modal__icon{
    font-size: 3.5rem;
    vertical-align: bottom;
    color: var(--color-white-01);
}

@media only screen and (min-width: 720px){

    .modal__dev,
    .modal__url--dev{
        font-size: 1.5rem;
    }

    .modal__icon{
        font-size: 2.2rem;
    }
}

/* ------- planets information box------- */

.modal__planet,
.modal__planet--rings::before{
    transform-style: preserve-3d;
    border-radius: 50%;
}

.modal__planet{
    width: 50vw;
    height: 50vw;
    margin: 0 auto 2rem;

    position: relative;
    transform: rotateZ(var(--modal-tilt-planet));
    animation-duration: var(--modal-time-rotation-planet);

    background: var(--modal-color) var(--modal-image-planet);
    background-size: cover;
    box-shadow: inset -1rem 0 1.25rem .05rem var(--color-black-02),
        inset 1rem 0 1.25rem .05rem var(--color-white-02);
}

.modal__planet--rings:before{
    width: 60vw;
    height: 60vw;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(var(--angle-system))
        rotateZ(var(--modal-tilt-planet));

    border-width: .8rem;
    border-style: solid;
}

.modal--mercury{
    --modal-color: var(--color-mercury);
    --modal-tilt-planet: var(--tilt-mercury);
    --modal-time-rotation-planet: var(--time-rotation-mercury);
    --modal-image-planet: var(--url-image-mercury);
}

.modal--venus{
    --modal-color: var(--color-venus);
    --modal-tilt-planet: var(--tilt-venus);
    --modal-time-rotation-planet: var(--time-rotation-venus);
    --modal-image-planet: var(--url-image-venus);
}

.modal--earth{
    --modal-color: var(--color-earth);
    --modal-tilt-planet: var(--tilt-earth);
    --modal-time-rotation-planet: var(--time-rotation-earth);
    --modal-image-planet: var(--url-image-earth);
}

.modal--mars{
    --modal-color: var(--color-mars);
    --modal-tilt-planet: var(--tilt-mars);
    --modal-time-rotation-planet: var(--time-rotation-mars);
    --modal-image-planet: var(--url-image-mars);
}

.modal--jupiter{
    --modal-color: var(--color-jupiter);
    --modal-tilt-planet: var(--tilt-jupiter);
    --modal-time-rotation-planet: var(--time-rotation-jupiter);
    --modal-image-planet: var(--url-image-jupiter);
}

.modal--saturn{
    --modal-color: var(--color-saturn);
    --modal-tilt-planet: var(--tilt-saturn);
    --modal-time-rotation-planet: var(--time-rotation-saturn);
    --modal-image-planet: var(--url-image-saturn);
}

.modal--uranus{
    --modal-color: var(--color-uranus);
    --modal-tilt-planet: var(--tilt-uranus);
    --modal-time-rotation-planet: var(--time-rotation-uranus);
    --modal-image-planet: var(--url-image-uranus);
}

.modal__planet--uranus{
    margin: 8rem auto;
}

.modal--neptune{
    --modal-color: var(--color-neptune);
    --modal-tilt-planet: var(--tilt-neptune);
    --modal-time-rotation-planet: var(--time-rotation-neptune);
    --modal-image-planet: var(--url-image-neptune);
}

.modal__planet--jupiter::before{
    border-color: var(--color-brown);
    box-shadow: inset 0 0 1rem 1.2rem var(--color-gray),
        0 0 1rem .7rem var(--color-gray),
        0 0 1rem .9rem var(--color-brown);
}

.modal__planet--saturn::before{
    border-color: var(--color-beige-01);
    box-shadow: inset 0 0 1rem 1.05rem var(--color-beige-01),
        0 0 1rem 1.05rem var(--color-beige-01),
        0 0 1rem 1.1rem var(--color-beige-02),
        0 0 1rem 1.3rem var(--color-beige-01),
        0 0 1rem 1.4rem var(--color-beige-02),
        0 0 1rem 1.6rem var(--color-beige-01),
        0 0 1rem 1.8rem var(--color-beige-02);
}

.modal__planet--uranus::before{
    border-color: transparent;
    box-shadow: inset 0 0 .5rem .2rem var(--color-white-02),
        0 0 .5rem .5rem var(--color-white-01),
        0 0 .5rem .7rem var(--color-white-02);
}

.modal__planet--neptune::before{
    border-color: transparent;
    box-shadow: inset 0 0 .7rem .1rem var(--color-white-01),
        0 0 .7rem .3rem var(--color-white-01);
}

@media only screen and (min-width: 720px)
    and (min-height: 480px){

    .modal__planet{
        width: 10rem;
        height: 10rem;
        margin: 0;

        position: fixed;
        bottom: 3rem;
        right: 4rem;

        box-shadow: inset -0.2rem 0 .25rem .01rem var(--color-black-02),
            inset .2rem 0 .25rem .01rem var(--color-white-02);
    }

    .modal__planet--rings::before{
        width: 12rem;
        height: 12rem;

        border-width: .5rem;
    }

    .modal__planet--jupiter::before{
        box-shadow: inset 0 0 .8rem .4rem var(--color-gray),
            0 0 .8rem .1rem var(--color-gray),
            0 0 .8rem .2rem var(--color-brown);
    }

    .modal__planet--saturn::before{
        box-shadow: inset 0 0 .1rem .05rem var(--color-beige-01),
            0 0 .1rem .05rem var(--color-beige-01),
            0 0 .1rem .1rem var(--color-beige-02),
            0 0 .1rem .3rem var(--color-beige-01),
            0 0 .1rem .4rem var(--color-beige-02),
            0 0 .1rem .6rem var(--color-beige-01),
            0 0 .1rem .8rem var(--color-beige-02);
    }

    .modal__planet--uranus{
        margin: initial;

        bottom: 4rem;
        right: 3rem;
    }

    .modal__planet--uranus::before{
        box-shadow: inset 0 0 .3rem .05rem var(--color-white-02),
            0 0 .3rem .2rem var(--color-white-01),
            0 0 .3rem .4rem var(--color-white-02);
    }

    .modal__planet--neptune::before{
        box-shadow: inset 0 0 .3rem .05rem var(--color-white-01),
            0 0 .3rem .1rem var(--color-white-01);
    }
}
