
/* ------- mercury settings ------- */

.solar-system__orbit--mercury{
    --size-celestial: var(--size-orbit-mercury);
    z-index: 9;
}

.solar-system__planet--mercury{
    --size-celestial: var(--size-planet-mercury);

    transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
        rotateZ(var(--tilt-mercury));

    background: var(--color-mercury) var(--url-image-mercury);
}

/* ------- venus settings ------- */

.solar-system__orbit--venus{
    --size-celestial: var(--size-orbit-venus);
    z-index: 8;
}

.solar-system__planet--venus{
    --size-celestial: var(--size-planet-venus);

    transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
        rotateZ(var(--tilt-venus));

    background: var(--color-venus) var(--url-image-venus);
}

/* ------- earth settings ------- */

.solar-system__orbit--earth{
    --size-celestial: var(--size-orbit-earth);
    z-index: 7;
}

.solar-system__planet--earth{
    --size-celestial: var(--size-planet-earth);

    transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
        rotateZ(var(--tilt-earth));

    background: var(--color-earth) var(--url-image-earth);
}

/* ------- earth moon settings ------- */

.planet__satellite--earth{
    --size-celestial: var(--size-revolution-satellite-earth);
}

.planet__satellite--earth::before{
    --size-celestial: var(--size-satellite-earth);

    background: var(--color-moon) var(--url-image-moon);
}

/* ------- mars settings ------- */

.solar-system__orbit--mars{
    --size-celestial: var(--size-orbit-mars);
    z-index: 6;
}

.solar-system__planet--mars{
    --size-celestial: var(--size-planet-mars);

    transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
        rotateZ(var(--tilt-mars));

    background: var(--color-mars) var(--url-image-mars);
}

/* ------- mars moons settings ------- */

.planet__satellite--mars{
    --size-celestial: var(--size-revolution-satellite-mars);
}

.planet__satellite--mars::before{
    --size-celestial: var(--size-satellite-mars-1);
}

.planet__satellite--mars::after{
    --size-celestial: var(--size-satellite-mars-2);
}

/* ------- jupiter settings ------- */

.solar-system__orbit--jupiter{
    --size-celestial: var(--size-orbit-jupiter);
    z-index: 5;
}

.solar-system__planet--jupiter{
    --size-celestial: var(--size-planet-jupiter);

    transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
        rotateZ(var(--tilt-jupiter));

    background: var(--color-jupiter) var(--url-image-jupiter);
}

.solar-system__planet--jupiter::before{
    --size-celestial: var(--size-rings-jupiter);

    transform: translate(-50%, -50%) rotateX(var(--angle-system))
        rotateZ(var(--tilt-jupiter));

    border: .05rem solid var(--color-gray);
    box-shadow: inset 0 0 .1rem .05rem var(--color-brown),
        0 0 .1rem .05rem var(--color-brown),
        0 0 .1rem .05rem var(--color-gray);
}

/* ------- jupiter moons settings ------- */

.planet__satellite--jupiter{
    --size-celestial: var(--size-revolution-satellite-jupiter);
}

.planet__satellite--jupiter::before{
    --size-celestial: var(--size-satellite-jupiter-1);
}

.planet__satellite--jupiter::after{
    --size-celestial: var(--size-satellite-jupiter-2);
}

/* ------- saturn settings ------- */

.solar-system__orbit--saturn{
    --size-celestial: var(--size-orbit-saturn);
    z-index: 4;
}

.solar-system__planet--saturn{
    --size-celestial: var(--size-planet-saturn);

    transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
        rotateZ(var(--tilt-saturn));

    background: var(--color-saturn) var(--url-image-saturn);
}

.solar-system__planet--saturn::before{
    --size-celestial: var(--size-rings-saturn);

    transform: translate(-50%, -50%) rotateX(var(--angle-system))
        rotateZ(var(--tilt-saturn));

    border: .1rem solid var(--color-beige-01);
    box-shadow: inset 0 0 .1rem .05rem var(--color-beige-01),
        0 0 .1rem .05rem var(--color-beige-01),
        0 0 .1rem .1rem var(--color-beige-02),
        0 0 .1rem .3rem var(--color-beige-01),
        0 0 .1rem .4rem var(--color-beige-02),
        0 0 .1rem .6rem var(--color-beige-01),
        0 0 .1rem .8rem var(--color-beige-02);
}

/* ------- saturn moons settings ------- */

.planet__satellite--saturn:nth-child(1){
    --size-celestial: var(--size-revolution-satellite-saturn-1);
}

.planet__satellite--saturn:nth-child(2){
    --size-celestial: var(--size-revolution-satellite-saturn-2);
}

.planet__satellite--saturn:nth-child(1)::before{
    --size-celestial: var(--size-satellite-saturn-1);
}

.planet__satellite--saturn:nth-child(1)::after{
    --size-celestial: var(--size-satellite-saturn-2);
}

.planet__satellite--saturn:nth-child(2)::before{
    --size-celestial: var(--size-satellite-saturn-3);
}

/* ------- uranus settings ------- */

.solar-system__orbit--uranus{
    --size-celestial: var(--size-orbit-uranus);
    z-index: 3;
}

.solar-system__planet--uranus{
    --size-celestial: var(--size-planet-uranus);

    transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
        rotateZ(var(--tilt-uranus));

    background: var(--color-uranus) var(--url-image-uranus);
}

.solar-system__planet--uranus::before{
    --size-celestial: var(--size-rings-uranus);

    transform: translate(-50%, -50%) rotateX(var(--angle-system))
        rotateZ(var(--tilt-uranus));

    border: .2rem solid transparent;
    box-shadow: inset 0 0 .01rem .03rem var(--color-white-02),
        0 0 .01rem .02rem var(--color-white-01),
        0 0 .1rem .05rem var(--color-white-02);
}

/* ------- uranus moons settings ------- */

.planet__satellite--uranus{
    --size-celestial: var(--size-revolution-satellite-uranus);
}

.planet__satellite--uranus::before{
    --size-celestial: var(--size-satellite-uranus-1);
}

.planet__satellite--uranus::after{
    --size-celestial: var(--size-satellite-uranus-2);
}

/* ------- neptune settings ------- */

.solar-system__orbit--neptune{
    --size-celestial: var(--size-orbit-neptune);
    z-index: 2;
}

.solar-system__planet--neptune{
    --size-celestial: var(--size-planet-neptune);

    transform: translate(-50%, -50%) rotateX(var(--angle-system-inverted))
        rotateZ(var(--tilt-neptune));

    background: var(--color-neptune) var(--url-image-neptune);
}

.solar-system__planet--neptune::before{
    --size-celestial: var(--size-rings-neptune);

    transform: translate(-50%, -50%) rotateX(var(--angle-system))
        rotateZ(var(--tilt-neptune));

    border: .1rem solid transparent;
    box-shadow: inset 0 0 .05rem .01rem var(--color-white-01),
        0 0 .01rem .02rem var(--color-white-01);
}

/* ------- neptune moons settings ------- */

.planet__satellite--neptune:nth-child(1){
    --size-celestial: var(--size-revolution-satellite-neptune-1);
}

.planet__satellite--neptune:nth-child(2){
    --size-celestial: var(--size-revolution-satellite-neptune-2);
}

.planet__satellite--neptune:nth-child(1)::before{
    --size-celestial: var(--size-satellite-neptune-1);
}

.planet__satellite--neptune:nth-child(1)::after{
    --size-celestial: var(--size-satellite-neptune-2);
}

.planet__satellite--neptune:nth-child(2)::before{
    --size-celestial: var(--size-satellite-neptune-3);
}

.planet__satellite--neptune:nth-child(2)::after{
    --size-celestial: var(--size-satellite-neptune-4);
}
