@import url("./variables.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .4s;
}

html{
    font-size: 6.5px;
    font-family: sans-serif;
    user-select: none;
}

@media only screen and (min-width: 720px){

    html{
        font-size: 8px;
    }

    #universe{
        min-height: 400px;
    }
}

@media only screen and (min-width: 980px){

    :root{
        --system-distance-z: -2rem;
    }

    html{
        font-size: 10px;
    }

    #universe{
        min-height: 460px;
    }
}

@media only screen and (min-width: 1380px){

    :root{
        --system-distance-z: .2rem;
    }

    html{
        font-size: 12px;
    }

    #universe{
        min-height: 600px;
    }
}