
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 6.5px;
    font-family: sans-serif;
    user-select: none;
}

@media only screen and (min-width: 720px){

    html{
        font-size: 8px;
    }
}

@media only screen and (min-width: 980px){

    html{
        font-size: 10px;
    }
}

@media only screen and (min-width: 1380px){

    html{
        font-size: 12px;
    }
}