:root{
    --system-angle: 75deg;
    --inverted-system-angle: -75deg;
    --system-distance: -150px;

    --yellow-01: #ffda5fcc;
    --yellow-02: #ffda5f;
    --yellow-03: #ffc400;
    --yellow-04: #ffae00;
    --black: #000;
    --white-01: #fff;
    --white-02: #ffffff4d;
    --gray: #bbb;
    --brown: #b86e29;
    --beige-01: #ebcda866;
    --beige-02:  #d1760666;

    --sun-color: var(--yellow-02);
    --mercury-color: #d0d0d0;
    --venus-color: #eadace;
    --earth-color: #1c66bb;
    --mars-color: #ec5d35;
    --jupiter-color: #cd8847;
    --saturn-color: #ffbc77;
    --uranus-color: #44acab;
    --neptune-color: #3346bb;
    --moon-color: #7c7c7c;
    --default-satellite-color: #b3aa8c;
}