:root{
    --system-angle: 75deg;
    --inverted-system-angle: -75deg;
    --system-distance-y: -150px;
    --system-distance-z: 2.2rem;

    --mercury-tilt: 0.03deg;
    --venus-tilt: 177.4deg;
    --earth-tilt: 23.4deg;
    --mars-tilt: 25.2deg;
    --jupiter-tilt: 3.1deg;
    --saturn-tilt: 26.7deg;
    --uranus-tilt: 97.8deg;
    --neptune-tilt: 28.3deg;
    --moon-tilt: 6.7deg;

    --mercury-rotation-time: 39s;
    --venus-rotation-time: 43s;
    --earth-rotation-time: 10s;
    --mars-rotation-time: 10.3s;
    --jupiter-rotation-time: 4.17s;
    --saturn-rotation-time: 4.46s;
    --uranus-rotation-time: 7.14s;
    --neptune-rotation-time: 6.67s;
    --moon-rotation-time: 29.5s;

    --yellow-01: #ffda5fcc;
    --yellow-02: #ffda5f;
    --yellow-03: #ffc400;
    --yellow-04: #ffae00;
    --black: #000;
    --white-01: #fff;
    --white-02: #ffffff4d;
    --gray: #bbb;
    --brown: #b86e29;
    --beige-01: #ebcda866;
    --beige-02:  #d1760666;

    --sun-color: var(--yellow-02);
    --mercury-color: #d0d0d0;
    --venus-color: #eadace;
    --earth-color: #1c66bb;
    --mars-color: #ec5d35;
    --jupiter-color: #cd8847;
    --saturn-color: #ffbc77;
    --uranus-color: #44acab;
    --neptune-color: #3346bb;
    --moon-color: #7c7c7c;
    --default-satellite-color: #b3aa8c;
}